<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
		<title>Student Scholarship Application</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-grid.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-reboot.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}" />
	</head>
	<body>
		<div class="col-sm-2 sidenav nav-fill" th:fragment="caseMenu">
			<nav class="nav flex-column nav-pills nav-fill">
				<a class="nav-link active" href="#" th:href="@{/studentApplication/basicDetails.html}">Basic Details</a>
				<a class="nav-link" href="#" th:href="@{/studentApplication/familyDetails.html}">Family Details</a>
				<a class="nav-link" href="#studentBankAccountDetailsTab">Bank Account Details</a>
				<a class="nav-link disabled" href="#">Disabled</a>
			</nav>
		</div>
		<script src="../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
  		<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  		<script src="../js/bootstrap-4.0.0.min.js" th:src="@{/js/bootstrap-4.0.0.min.js}"></script>
	</body>
</html>