<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head th:fragment="htmlhead">
		<title>Student Scholarship Application</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-grid.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-reboot.min.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/font-awesome-4.7.0/css/font-awesome.css}" />
	</head>
	<body>
		<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" th:fragment="header">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="#">Logo</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  New File
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#" th:href="@{/studentApplication/basicDetails}">New Case</a>
							<a class="dropdown-item" href="#">New Application</a>
						</div>
					</li>
					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						  Search File
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Search Case</a>
							<a class="dropdown-item" href="#">Search Application</a>
						</div>
					</li>
				</ul>
				<form class="form-inline my-2 my-lg-0">
					<input class="form-control mr-sm-2" type="text" placeholder="Enter Case No">
					<!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
					<!-- <a class="mr-sm-2" href="#" style="color:white"><span th:utext="${userName}"></span></a> -->
					<a class="mr-sm-2" href="#" style="color:white"><span sec:authentication="name">currentUser</span></a>
					<a class="mr-sm-2" th:href="@{/logout}" style="color:white" id="userLogout">
						<i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>Logout
					</a>
				</form>
			</div>
		</nav>
		<div th:fragment="notifyMessages">
			<ul id="messages" th:with="notifyMessages=${session[T(com.tripleS.service.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
	      		<li th:each="msg : ${notifyMessages}" th:text="${msg.text}" th:class="${#strings.toLowerCase(msg.type)}"> </li>
	      		<span th:if="${notifyMessages}" th:remove="all" th:text="${session.remove(T(com.tripleS.service.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
	    	</ul>
	    </div>
    	<div th:fragment="javascriptFiles">
			<script src="../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
	  		<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
	  		<script src="../js/jquery.maskedinput.min.js" th:src="@{/js/jquery.maskedinput.min.js}"></script>
	  		<script src="../js/bootstrap-4.0.0.min.js" th:src="@{/js/bootstrap-4.0.0.min.js}"></script>
	  		<script src="../js/main.js" th:src="@{/js/main.js}"></script>
	  	</div>
	</body>
</html>