<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/home :: htmlhead">
</head>
<body>
	<div th:replace="fragments/home :: header">&nbsp;</div>
	<div class="container-fluid text-center">
		<div class="row content">
			<div th:replace="fragments/caseMenu :: caseMenu">&nbsp;</div>
			<div class="col-sm-10 text-left" id="studentFamilyDetailsTab">
				<div>
					<h2>Family Details</h2>
					<form id="studentBasicForm" role="form"
						th:action="@{/studentApplication/familyDetails}"
						th:object="${studentFile}" method="post">
						<div>
							<input type="hidden" th:field="*{id}" /> <input type="hidden"
								th:field="*{fileNo}" /> <input type="hidden"
								th:field="*{fileStatus}" /> <input type="hidden"
								th:field="*{createdBy}" /> <input type="hidden"
								th:field="*{createdDate}" /> <input type="hidden"
								th:field="*{entityDetails.id}" /> <input type="hidden"
								th:field="*{entityDetails.type}" /> <input type="hidden"
								th:field="*{entityDetails.firstName}" /> <input type="hidden"
								th:field="*{entityDetails.middleName}" /> <input type="hidden"
								th:field="*{entityDetails.lastName}" /> <input type="hidden"
								th:field="*{entityDetails.emailID}" /> <input type="hidden"
								th:field="*{entityDetails.mobileNo}" /> <input type="hidden"
								th:field="*{entityDetails.alternateContactNo}" /> <input
								type="hidden" th:field="*{entityDetails.telephoneNo}" /> <input
								type="hidden"
								th:field="*{entityDetails.entityAddressDetails.id}" /> <input
								type="hidden"
								th:field="*{entityDetails.entityAddressDetails.addressLine1}" />
							<input type="hidden"
								th:field="*{entityDetails.entityAddressDetails.addressLine2}" />
							<input type="hidden"
								th:field="*{entityDetails.entityAddressDetails.country}" /> <input
								type="hidden"
								th:field="*{entityDetails.entityAddressDetails.state}" /> <input
								type="hidden"
								th:field="*{entityDetails.entityAddressDetails.city}" /> <input
								type="hidden"
								th:field="*{entityDetails.entityAddressDetails.pincode}" /> <input
								type="hidden" th:field="*{entityDetails.studentDetails.id}" />
							<input type="hidden"
								th:field="*{entityDetails.studentDetails.dateOfBirth}" /> <input
								type="hidden"
								th:field="*{entityDetails.studentDetails.placeOfBirth}" /> <input
								type="hidden"
								th:field="*{entityDetails.studentDetails.religion}" /> <input
								type="hidden"
								th:field="*{entityDetails.studentDetails.motherTongue}" /> <input
								type="hidden"
								th:field="*{entityDetails.studentDetails.aimInLife}" /> <input
								type="hidden"
								th:field="*{entityDetails.studentDetails.describePrizeDetails}" />
							<input type="hidden"
								th:field="*{entityDetails.studentDetails.describeIfOtherFamilyMembersGotHelp}" />
							<input type="hidden"
								th:field="*{entityDetails.studentDetails.describeOtherProblemsInFamily}" />
							<input type="hidden"
								th:field="*{entityDetails.studentDetails.describeJobBusinessDetails}" />
						</div>
						<button type="submit" name="addEntityDetails">Add Member</button>
						<div th:each="row,rowStat : *{entityDetails.relatives}">
							<div class="form-group row" id="firstRowLabel">

								<div class="col-sm-4">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].type')}"
										th:errors="*{entityDetails.relatives[__${rowStat.index}__].type}"
										class="validation-message"></label>
								</div>

								<div class="col-sm-4">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].firstName')}"
										th:errors="*{entityDetails.relatives[__${rowStat.index}__].firstName}"
										class="validation-message"></label>
								</div>

								<div class="col-sm-4">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].lastName')}"
										th:errors="*{entityDetails.relatives[__${rowStat.index}__].lastName}"
										class="validation-message"></label>
								</div>
							</div>
							<div class="form-group row" id="firstRow">
								<div class="col-sm-4">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="*{entityDetails.relatives[__${rowStat.index}__].type}"
												placeholder="Relation" class="form-control" maxlength="100" />
										</div>
										<label class="required-field"></label>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="*{entityDetails.relatives[__${rowStat.index}__].firstName}"
												placeholder="First Name" class="form-control"
												maxlength="100" />
										</div>
										<label class="required-field"></label>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="*{entityDetails.relatives[__${rowStat.index}__].lastName}"
												placeholder="Last Name" class="form-control" maxlength="100" />
										</div>
									</div>
								</div>
							</div>
							<div class="form-group row" id="secondRowLabel">

								<div class="col-sm-4">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].age')}"
										th:errors="*{entityDetails.relatives[__${rowStat.index}__].age}"
										class="validation-message"></label>
								</div>

								<div class="col-sm-4">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].qualification')}"
										th:errors="*{entityDetails.relatives[__${rowStat.index}__].qualification}"
										class="validation-message"></label>
								</div>

								<div class="col-sm-4">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].occupationProfession')}"
										th:errors="*{entityDetails.relatives[__${rowStat.index}__].occupationProfession}"
										class="validation-message"></label>
								</div>
							</div>
							<div class="form-group row" id="secondRow">
								<div class="col-sm-4">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="*{entityDetails.relatives[__${rowStat.index}__].age}"
												placeholder="Age" class="form-control" maxlength="3" />
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="*{entityDetails.relatives[__${rowStat.index}__].qualification}"
												placeholder="Qualification" class="form-control"
												maxlength="100" />
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="*{entityDetails.relatives[__${rowStat.index}__].occupationProfession}"
												placeholder="Occupation" class="form-control"
												maxlength="100" />
										</div>
									</div>
								</div>
							</div>
							<div class="form-group row" id="thirdRowLabel">
								<div class="col-sm-4">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].salaryPerMonth')}"
										th:errors="*{entityDetails.relatives[__${rowStat.index}__].salaryPerMonth}"
										class="validation-message"></label>
								</div>
							</div>
							<div class="form-group row" id="thirdRow">
								<div class="col-sm-4">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="*{entityDetails.relatives[__${rowStat.index}__].salaryPerMonth}"
												placeholder="Earning/month" class="form-control"
												maxlength="10" />
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="row">
										<div class="col-sm-11">
											<button type="submit" name="addSchoolEmployerDetails"
												th:value="${rowStat.index}">Add School / Employer
												Details</button>
										</div>
									</div>
								</div>
							</div>
							<div
								th:each="employer,rowIndex : *{entityDetails.relatives[__${rowStat.index}__].relatives}">
								<div class="form-group row" id="fourthRowLabel">

									<div class="col-sm-4">
										<label
											th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].type')}"
											th:errors="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].type}"
											class="validation-message"></label>
									</div>

									<div class="col-sm-4">
										<label
											th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].firstName')}"
											th:errors="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].firstName}"
											class="validation-message"></label>
									</div>

									<div class="col-sm-4">
										<label
											th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.addressLine1')}"
											th:errors="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.addressLine1}"
											class="validation-message"></label>
									</div>
									
								</div>
								<div class="form-group row" id="fourthRow">
									<div class="col-sm-4">
										<div class="row">
											<div class="col-sm-11">
												<input type="text"
													th:field="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].type}"
													placeholder="School/Company" class="form-control"
													maxlength="100" />
											</div>
											<label class="required-field"></label>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="row">
											<div class="col-sm-11">
												<input type="text"
													th:field="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].firstName}"
													placeholder="Name of School/Company" class="form-control"
													maxlength="100" />
											</div>
											<label class="required-field"></label>
										</div>
									</div>
									<div class="col-sm-4">
										<div class="row">
											<div class="col-sm-11">
												<input type="text"
													th:field="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.addressLine1}"
													placeholder="Address of School/Company"
													class="form-control" maxlength="1000" />
											</div>
										</div>
									</div>
								</div>
								
								<div class="form-group row" id="fifthRowLabel">
									<div class="col-sm-3">
										<label
											th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.country')}"
											th:errors="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.country}"
											class="validation-message"></label>
									</div>

									<div class="col-sm-3">
										<label
											th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.state')}"
											th:errors="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.state}"
											class="validation-message"></label>
									</div>

									<div class="col-sm-3">
										<label
											th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.city')}"
											th:errors="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.city}"
											class="validation-message"></label>
									</div>
									
									<div class="col-sm-3">
										<label
											th:if="${#fields.hasErrors('entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.pincode')}"
											th:errors="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.pincode}"
											class="validation-message"></label>
									</div>
								</div>
								<div class="form-group row" id="fifthRow">
									<div class="col-sm-3">
										<div class="row">
											<div class="col-sm-11">
												<input type="text"
													th:field="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.country}"
													placeholder="Country"
													class="form-control" maxlength="50" />
											</div>
											<label class="required-field"></label>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="row">
											<div class="col-sm-11">
												<input type="text"
													th:field="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.state}"
													placeholder="State"
													class="form-control" maxlength="50" />
											</div>
											<label class="required-field"></label>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="row">
											<div class="col-sm-11">
												<input type="text"
													th:field="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.city}"
													placeholder="City"
													class="form-control" maxlength="50" />
											</div>
										</div>
									</div>
									<div class="col-sm-3">
										<div class="row">
											<div class="col-sm-11">
												<input type="text"
													th:field="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.pincode}"
													placeholder="Pincode"
													class="form-control" maxlength="6" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- <table class="table table-hover">
							<thead>
								<tr>
									<th>Row</th>
									<th>Relation</th>
									<th>Name</th>
									<th>Age</th>
									<th>Qualification</th>
									<th>Occupation</th>
									<th>Name &amp; full address of Employer or School/College</th>
									<th>Earnings/month</th>
									<th>
										<button type="submit" name="addEntityDetails">Add
											Member</button>
									</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="row,rowStat : *{entityDetails.relatives}">
									<td th:text="${rowStat.count}">1</td>
									<td><select
										th:field="*{relatives[__${rowStat.index}__].variety}">
											<option th:each="var : ${allVarieties}" th:value="${var.id}"
												th:text="${var.name}">Thymus Thymi</option>
									</select></td>
									<td><label
										th:text="*{entityDetails.relatives[__${rowStat.index}__].type}">Relation</label></td>
									<td><label
										th:text="*{entityDetails.relatives[__${rowStat.index}__].firstName + ' ' + entityDetails.relatives[__${rowStat.index}__].lastName}">John
											Doe</label></td>
									<td><label
										th:text="*{entityDetails.relatives[__${rowStat.index}__].age}">45</label></td>
									<td><label
										th:text="*{entityDetails.relatives[__${rowStat.index}__].qualification}">B.
											Com.</label></td>
									<td><label
										th:text="*{entityDetails.relatives[__${rowStat.index}__].occupationProfession}">Accountant</label></td>
									<td>
										<div
											th:each="employer,rowIndex : *{entityDetails.relatives[__${rowStat.index}__].relatives}">
											<label
												th:text="*{entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].type + ' ' + entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].firstName + ' ' + entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.addressLine1 + ' ' + entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.city + ' ' + entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.state + ' ' + entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.country + '-' + entityDetails.relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.pincode}">Mehta
													Associates Nariman Point Mumbai-4000072</label></div></td>
									<td><label
										th:text="*{entityDetails.relatives[__${rowStat.index}__].salaryPerMonth}">20000</label></td>
									<td>
										<button type="submit" name="removeEntityDetails"
											th:value="${rowStat.index}">Remove Member</button>
									</td>
								</tr>
							</tbody>
						</table> -->
						<div class="form-group row" id="sixthRow">
							<div class="col-sm-6">

							</div>
							<div class="col-sm-2">
								<button type="button" id="btnClear" class="form-control btn btn-secondary">Clear</button>
							</div>
							<div class="col-sm-2">
								<button type="submit" id="btnSave" name="saveFamilyDetails" class="form-control btn btn-primary">Save</button>
							</div>
							<div class="col-sm-2">
								<button type="submit" id="btnSaveContinue" name="saveContinueFamilyDetails" class="form-control btn btn-primary">Save &amp; Continue</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="fragments/home :: notifyMessages">&nbsp;</div>
	</div>
	<div th:replace="fragments/home :: javascriptFiles">&nbsp;</div>
</body>
</html>