<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/home :: htmlhead">
</head>
<body>
	<div th:replace="fragments/home :: header">&nbsp;</div>
	<div class="container-fluid text-center">
		<div class="row content">
			<div th:replace="fragments/caseMenu :: caseMenu">&nbsp;</div>
			<div class="col-sm-10 text-left" id="studentFamilyDetailsTab">
				<div>
					<h2>Family Details</h2>

					<form id="studentBasicForm" role="form"
						th:action="@{/studentApplication/familyDetails}" method="post">
						<input type="hidden" th:value="${fileNo}" name="fileNo" />
						<table class="table table-hover">
							<thead>
								<tr>
									<!-- <th>Row</th> -->
									<th>Relation</th>
									<th>Name</th>
									<th>Age</th>
									<th>Qualification</th>
									<th>Occupation</th>
									<th>Name &amp; full address of Employer or School/College</th>
									<th>Earnings/month</th>
									<th></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="row,rowStat : ${relatives}">
									<!-- <td th:text="${rowStat.count}">1</td> -->
									<!-- <td><select
										th:field="*{relatives[__${rowStat.index}__].variety}">
											<option th:each="var : ${allVarieties}" th:value="${var.id}"
												th:text="${var.name}">Thymus Thymi</option>
									</select></td> -->
									<td><label
										th:text="*{relatives[__${rowStat.index}__].type}">Relation</label></td>
									<td><label
										th:text="*{relatives[__${rowStat.index}__].firstName + ' ' + relatives[__${rowStat.index}__].lastName}">John
											Doe</label></td>
									<td><label
										th:text="*{relatives[__${rowStat.index}__].age}">45</label></td>
									<td><label
										th:text="*{relatives[__${rowStat.index}__].qualification}">B.
											Com.</label></td>
									<td><label
										th:text="*{relatives[__${rowStat.index}__].occupationProfession}">Accountant</label></td>
									<td>
										<div
											th:each="employer,rowIndex : ${relatives[__${rowStat.index}__].relatives}">
											<label
												th:text="*{relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].type + ' ' + relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].firstName + ' ' + relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.addressLine1 + ' ' + relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.city + ' ' + relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.state + ' ' + relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.country + '-' + relatives[__${rowStat.index}__].relatives[__${rowIndex.index}__].entityAddressDetails.pincode}">Mehta
												Associates Nariman Point Mumbai-4000072</label>
										</div>
									</td>
									<td><label
										th:text="*{relatives[__${rowStat.index}__].salaryPerMonth}">20000</label></td>
									<td>
										<button type="submit" name="editEntityDetails" title="Edit Member"
											th:value="*{relatives[__${rowStat.index}__].id}" class="fa fa-pencil-square-o fa-lg iconButton"></button>
									</td>
									<td>
										<!-- <button type="submit" name="removeEntityDetails"
											th:value="${rowStat.index}">Remove Member</button> -->
										<button type="submit" name="removeEntityDetails" title="Remove Member"
											th:value="*{relatives[__${rowStat.index}__].id}" class="fa fa-trash-o fa-lg iconButton"></button>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="form-group row" id="firstRowLabel">

							<div class="col-sm-4">
								<label th:if="${#fields.hasErrors('entityDetails.type')}"
									th:errors="${entityDetails.type}" class="validation-message"></label>
							</div>

							<div class="col-sm-4">
								<label th:if="${#fields.hasErrors('entityDetails.firstName')}"
									th:errors="${entityDetails.firstName}"
									class="validation-message"></label>
							</div>

							<div class="col-sm-4">
								<label th:if="${#fields.hasErrors('entityDetails.lastName')}"
									th:errors="${entityDetails.lastName}"
									class="validation-message"></label>
							</div>
						</div>
						<div class="form-group row" id="firstRow">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11">
										<input type="text" th:field="${entityDetails.type}"
											placeholder="Relation" class="form-control" maxlength="100" />
										<input type="hidden" th:field="${entityDetails.id}" />
									</div>
									<label class="required-field"></label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11">
										<input type="text" th:field="${entityDetails.firstName}"
											placeholder="First Name" class="form-control" maxlength="100" />
									</div>
									<label class="required-field"></label>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11">
										<input type="text" th:field="${entityDetails.lastName}"
											placeholder="Last Name" class="form-control" maxlength="100" />
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" id="secondRowLabel">

							<div class="col-sm-4">
								<label th:if="${#fields.hasErrors('entityDetails.age')}"
									th:errors="${entityDetails.age}" class="validation-message"></label>
							</div>

							<div class="col-sm-4">
								<label
									th:if="${#fields.hasErrors('entityDetails.qualification')}"
									th:errors="${entityDetails.qualification}"
									class="validation-message"></label>
							</div>

							<div class="col-sm-4">
								<label
									th:if="${#fields.hasErrors('entityDetails.occupationProfession')}"
									th:errors="${entityDetails.occupationProfession}"
									class="validation-message"></label>
							</div>
						</div>
						<div class="form-group row" id="secondRow">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11">
										<input type="text" th:field="${entityDetails.age}"
											placeholder="Age" class="form-control" maxlength="3" />
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11">
										<input type="text" th:field="${entityDetails.qualification}"
											placeholder="Qualification" class="form-control"
											maxlength="100" />
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11">
										<input type="text"
											th:field="${entityDetails.occupationProfession}"
											placeholder="Occupation" class="form-control" maxlength="100" />
									</div>
								</div>
							</div>
						</div>
						<div class="form-group row" id="thirdRowLabel">
							<div class="col-sm-4">
								<label
									th:if="${#fields.hasErrors('entityDetails.salaryPerMonth')}"
									th:errors="${entityDetails.salaryPerMonth}"
									class="validation-message"></label>
							</div>
						</div>
						<div class="form-group row" id="thirdRow">
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11">
										<input type="text" th:field="${entityDetails.salaryPerMonth}"
											placeholder="Earning/month" class="form-control"
											maxlength="10" />
									</div>
								</div>
							</div>
							<div class="col-sm-4">
								<div class="row">
									<div class="col-sm-11">
										<!-- <button type="submit" name="addSchoolEmployerDetails"
											th:value="${rowStat.index}">
											Add School / Employer Details
										</button> -->
									</div>
								</div>
							</div>
						</div>
						<!-- <div th:each="employer,rowIndex : ${entityDetails.relatives}"> -->
							<div class="form-group row" id="fourthRowLabel">

								<div class="col-sm-4">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[0].type')}"
										th:errors="${entityDetails.relatives[0].type}"
										class="validation-message"></label>
								</div>

								<div class="col-sm-4">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[0].firstName')}"
										th:errors="${entityDetails.relatives[0].firstName}"
										class="validation-message"></label>
								</div>

								<div class="col-sm-4">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[0].entityAddressDetails.addressLine1')}"
										th:errors="${entityDetails.relatives[0].entityAddressDetails.addressLine1}"
										class="validation-message"></label>
								</div>

							</div>
							<div class="form-group row" id="fourthRow">
								<div class="col-sm-4">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="${entityDetails.relatives[0].type}"
												placeholder="School/Company" class="form-control"
												maxlength="100" />
										</div>
										<label class="required-field"></label>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="${entityDetails.relatives[0].firstName}"
												placeholder="Name of School/Company" class="form-control"
												maxlength="100" />
											<input type="hidden"
												th:field="${entityDetails.relatives[0].id}" />
										</div>
										<label class="required-field"></label>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="${entityDetails.relatives[0].entityAddressDetails.addressLine1}"
												placeholder="Address of School/Company" class="form-control"
												maxlength="1000" />
											<input type="hidden"
												th:field="${entityDetails.relatives[0].entityAddressDetails.id}" />
										</div>
									</div>
								</div>
							</div>

							<div class="form-group row" id="fifthRowLabel">
								<div class="col-sm-3">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[0].entityAddressDetails.country')}"
										th:errors="${entityDetails.relatives[0].entityAddressDetails.country}"
										class="validation-message"></label>
								</div>

								<div class="col-sm-3">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[0].entityAddressDetails.state')}"
										th:errors="${entityDetails.relatives[0].entityAddressDetails.state}"
										class="validation-message"></label>
								</div>

								<div class="col-sm-3">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[0].entityAddressDetails.city')}"
										th:errors="${entityDetails.relatives[0].entityAddressDetails.city}"
										class="validation-message"></label>
								</div>

								<div class="col-sm-3">
									<label
										th:if="${#fields.hasErrors('entityDetails.relatives[0].entityAddressDetails.pincode')}"
										th:errors="${entityDetails.relatives[0].entityAddressDetails.pincode}"
										class="validation-message"></label>
								</div>
							</div>
							<div class="form-group row" id="fifthRow">
								<div class="col-sm-3">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="${entityDetails.relatives[0].entityAddressDetails.country}"
												placeholder="Country" class="form-control" maxlength="50" />
										</div>
										<label class="required-field"></label>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="${entityDetails.relatives[0].entityAddressDetails.state}"
												placeholder="State" class="form-control" maxlength="50" />
										</div>
										<label class="required-field"></label>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="${entityDetails.relatives[0].entityAddressDetails.city}"
												placeholder="City" class="form-control" maxlength="50" />
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="row">
										<div class="col-sm-11">
											<input type="text"
												th:field="${entityDetails.relatives[0].entityAddressDetails.pincode}"
												placeholder="Pincode" class="form-control" maxlength="6" />
										</div>
									</div>
								</div>
							</div>
						<!-- </div> -->
						<div class="form-group row" id="sixthRow">
							<div class="col-sm-2">
								<button type="submit" name="addEntityDetails">Add
									Member</button>
							</div>
						</div>
						<div class="form-group row" id="seventhRow">
							<div class="col-sm-6"></div>
							<div class="col-sm-2">
								<button type="button" id="btnClear"
									class="form-control btn btn-secondary">Clear</button>
							</div>
							<div class="col-sm-2">
								<button type="submit" id="btnSave" name="saveFamilyDetails"
									class="form-control btn btn-primary">Save</button>
							</div>
							<div class="col-sm-2">
								<button type="submit" id="btnSaveContinue"
									name="saveContinueFamilyDetails"
									class="form-control btn btn-primary">Save &amp;
									Continue</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div th:replace="fragments/home :: notifyMessages">&nbsp;</div>
	</div>
	<div th:replace="fragments/home :: javascriptFiles">&nbsp;</div>
</body>
</html>